<div id="disqus_thread"></div>
<script>
    // Настройка динамических переменных для Disqus
    var disqus_config = function () {
        this.page.url = window.location.href;  // Используем текущий URL страницы
        this.page.identifier = document.title; // Или другой уникальный идентификатор страницы
    };

    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://efir-indexmod.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

<noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">комментарии работают на Disqus.</a>
</noscript>
