/* Сброс базовых стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.programs-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.program-card {
  width: 250px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  background-color: transparent;
  text-align: left;
  font-family: Monaco, monospace; /* Шрифт */
  font-size: 12px; /* Размер шрифта */
  color: black; /* Цвет текста */
}

.program_time {
  font-size: 20px;
  font-weight: bold;
}

/* Стили для параграфов */
p {
  padding: 10px; /* Отступы внутри параграфа */
  font-family: Monaco, monospace; /* Шрифт */
  font-size: 12px; /* Размер шрифта */
  color: black; /* Цвет текста */
}


/* Анимация градиента фона */
.gradient {
  position: absolute;
  width: 100%;
  height: 100vh; /* Установите высоту на 100% высоты окна */
  background: linear-gradient(45deg, silver, grey);
  background-size: 400% 400%;
  animation: gradientChange 5s ease infinite;
  z-index: -1; /* Градиент находится под кнопкой и таблицей */
}

@keyframes gradientChange {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Стили для овальной кнопки */
.oval-button {
  width: 150px;
  height: 80px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1; /* Кнопка поверх градиента */
}

/* Треугольник в центре кнопки */
.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid black; /* Треугольник повёрнут */
  transform: rotate(-90deg); /* Поворачиваем треугольник на 90 градусов */
}

/* Скрытый аудиоплеер */
audio {
  display: none;
}

/* Контейнер для таблицы расписания */
#scheduleContainer {
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 20px; /* Поля вокруг таблицы */
  margin: 20px; /* Добавим одинаковые поля вокруг контейнера */
  max-width: 90%; /* Ограничим ширину контейнера */
  overflow-y: auto; /* Позволяет прокручивать содержимое */
  max-height: 80vh; /* Ограничьте высоту контейнера для прокрутки */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Стили для ссылок */
a {
  color: black; /* Всегда черный цвет текста */
  text-decoration: none; /* Убираем подчеркивание */
}

/* Стили при наведении */
a:hover {
  color: black; /* Черный цвет при наведении */
  text-decoration: none; /* Добавляем подчеркивание при наведении */
}

/* Стили для активных и посещенных ссылок */
a:visited {
  color: black; /* Черный цвет для посещенных ссылок */
}

a:active {
  color: black; /* Черный цвет для активных ссылок */
}

footer {
  position: absolute;
  bottom: 20px;
  width: 500px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: transparent;
  padding: 10px;
  z-index: 1;
}
