<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Основные мета-теги -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Мета-теги для SEO, Open Graph и Twitter -->
    {% include meta-tags.html %}
    <!-- Заголовок страницы -->
    <title>{{ page.title }}</title>
    <!-- Подключение стилей -->
    <link rel="stylesheet" href="{{ '/assets/css/styles-programs.css' | relative_url }}">
    <!-- Фавиконки и иконки для устройств -->
    {% include favicon.html %}
  </head>
  <body>
    {# {% include sphere.html %} #}
    {% include audio.html %}
    {{ content }}
    <!-- Инклюд для Cusdis комментариев -->
    {# {% include cusdis.html %} #}
    {% include footer.html %}
    {% include play-js.html %}
  </body>
</html>
